In [ ]:
import pandas as pd
import numpy as np

from pathlib import Path

## Load the countries_and_regions csv to the dataframe.

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/my new job/data_analysis_project/csv/countries_and_regions.csv')

## Extract list of existed regions.

In [ ]:
regions_list = np.unique(df.Region)
regions_list

array(['Australia and New Zealand', 'Central and Eastern Europe',
       'Eastern Asia', 'Latin America and Caribbean',
       'Middle East and Northern Africa', 'North America',
       'Southeastern Asia', 'Southern Asia', 'Sub-Saharan Africa',
       'Western Europe'], dtype=object)

### Create tuple from each of region and assigned ID.

In [ ]:
regions = pd.DataFrame(regions_list, columns=['Region'])
regions.index.name = 'id'
regions.reset_index(inplace=True)

In [ ]:
regions

   id                           Region
0   0        Australia and New Zealand
1   1       Central and Eastern Europe
2   2                     Eastern Asia
3   3      Latin America and Caribbean
4   4  Middle East and Northern Africa
5   5                    North America
6   6                Southeastern Asia
7   7                    Southern Asia
8   8               Sub-Saharan Africa
9   9                   Western Europe

## Add id_region column to dataframe and fill with proper values.

In [ ]:
df

         Country                           Region
0    Switzerland                   Western Europe
1        Iceland                   Western Europe
2        Denmark                   Western Europe
3         Norway                   Western Europe
4         Canada                    North America
..           ...                              ...
153       Rwanda               Sub-Saharan Africa
154        Benin               Sub-Saharan Africa
155        Syria  Middle East and Northern Africa
156      Burundi               Sub-Saharan Africa
157         Togo               Sub-Saharan Africa

[158 rows x 2 columns]

In [ ]:
countries = df.merge(regions, on='Region')

In [ ]:
countries

         Country          Region  id
0    Switzerland  Western Europe   9
1        Iceland  Western Europe   9
2        Denmark  Western Europe   9
3         Norway  Western Europe   9
4        Finland  Western Europe   9
..           ...             ...  ..
153   Bangladesh   Southern Asia   7
154        India   Southern Asia   7
155        Nepal   Southern Asia   7
156    Sri Lanka   Southern Asia   7
157  Afghanistan   Southern Asia   7

[158 rows x 3 columns]

In [ ]:
countries.rename(columns = {'Country':'name', 'Region':'region', 'id':'region_id'}, inplace = True)
regions.rename(columns = {'Region':'region'}, inplace = True)
countries = countries.drop('region', axis=1)
countries.index.name = 'id'
countries.reset_index(inplace=True)

In [ ]:
countries

      id         name  region_id
0      0  Switzerland          9
1      1      Iceland          9
2      2      Denmark          9
3      3       Norway          9
4      4      Finland          9
..   ...          ...        ...
153  153   Bangladesh          7
154  154        India          7
155  155        Nepal          7
156  156    Sri Lanka          7
157  157  Afghanistan          7

[158 rows x 3 columns]

### Create df for years

In [ ]:
years = pd.DataFrame(data={'year': ['2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022']})
years.index.name = 'id'
years.reset_index(inplace=True)

## Load each of sheets to dataframes.

In [ ]:
data_path = '/content/drive/MyDrive/my new job/data_analysis_project/xlsx/world_happiness_report_2015_2022.xlsx'
xls = pd.ExcelFile(data_path)
df_names = {}
for sheet_name in xls.sheet_names:
  df_name = 'df_' + sheet_name
  df_temp  = pd.read_excel(data_path, sheet_name = sheet_name)
  globals()[df_name]  = df_temp
  df_names.update({sheet_name : globals()[df_name]})

In [ ]:
metrics = pd.concat(df_names, names=['year'])
metrics.reset_index(inplace=True)

In [ ]:
metrics.drop('level_1', axis=1, inplace=True)
metrics = metrics.merge(years, on='year')
metrics.rename(columns = {'id':'year_id', 'Country or region':'name', 'Overall rank':'overall_rank','Score':'score', 'GDP per capita':'GDP_per_capita', 'Social support':'social_support','Healthy life expectancy':'healthy_life_expectancy','Freedom to make life choices':'freedom_to_make_life_choices', 'Perceptions of corruption':'perceptions_of_corruption','Generosity':'generosity'}, inplace = True)
metrics = metrics.merge(countries, on='name')

In [ ]:
metrics.rename(columns={'id':'country_id'},inplace=True)

In [ ]:
metrics

,year,overall_rank,name,score,GDP_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,perceptions_of_corruption,generosity,year_id,country_id,region_id
0,2015,1.0,Switzerland,7.5870,1.396510,1.349510,0.941430,0.665570,0.419780,0.296780,0,0,9
1,2016,2.0,Switzerland,7.5090,1.527330,1.145240,0.863030,0.585570,0.412030,0.280830,1,0,9
2,2017,4.0,Switzerland,7.4940,1.564980,1.516912,0.858131,0.620071,0.367007,0.290549,2,0,9
3,2018,5.0,Switzerland,7.4870,1.420000,1.549000,0.927000,0.660000,0.357000,0.256000,3,0,9
4,2019,6.0,Switzerland,7.4800,1.452000,1.526000,1.052000,0.572000,0.343000,0.263000,4,0,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1161,2018,139.0,Togo,3.9990,0.259000,0.474000,0.253000,0.434000,0.101000,0.158000,3,150,8
1162,2019,139.0,Togo,4.0850,0.275000,0.572000,0.410000,0.293000,0.085000,0.177000,4,150,8
1163,2020,135.0,Togo,4.1872,0.268116,0.547623,0.342731,0.303539,0.114826,0.200774,5,150,8
1164,2021,136.0,Togo,4.1068,0.254028,0.239493,0.202712,0.289172,0.106555,0.208537,6,150,8
1165,2022,135.0,Togo,4.1123,0.771107,0.321505,0.359706,0.291775,0.132416,0.174409,7,150,8

In [ ]:
metrics.drop(['region_id', 'name', 'year'], axis=1, inplace=True)

In [ ]:
metrics = metrics.astype({'overall_rank':int})

In [ ]:
metrics.index.name = 'id'
years.set_index('id', inplace=True)
regions.set_index('id', inplace=True)
countries.set_index('id', inplace=True)

In [ ]:
filepath = Path('/content/drive/MyDrive/my new job/data_analysis_project/csv/metrics.csv')
filepath.parent.mkdir(parents=True, exist_ok=True)
metrics.to_csv(filepath)

In [ ]:
yearspath = Path('/content/drive/MyDrive/my new job/data_analysis_project/csv/years.csv')
yearspath.parent.mkdir(parents=True, exist_ok=True)
years.to_csv(yearspath)

In [ ]:
regionspath = Path('/content/drive/MyDrive/my new job/data_analysis_project/csv/regions.csv')
regionspath.parent.mkdir(parents=True, exist_ok=True)
regions.to_csv(regionspath)

In [ ]:
countriespath = Path('/content/drive/MyDrive/my new job/data_analysis_project/csv/countries.csv')
countriespath.parent.mkdir(parents=True, exist_ok=True)
countries.to_csv(countriespath)

In [ ]:
!git add csv/